html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
body {
	background: url("assets/var/main-bg.jpg") no-repeat center center fixed;
	background-size: cover;
	overflow-y: auto;
	scroll-behavior: smooth;
}
.logo-title {
	line-height: 40px;
	padding: 0 5px;
}
.nav-item.active {
	border-bottom: 2px solid #204A87;
}
.navbar-brand {
	padding: 0;
}
.navbar-nav .nav-link {
	height: 50px;
	line-height: 50px;
	padding-bottom: 0;
	padding-top: 0;
	position:sticky;
}
.back{
	background: url("assets/var/intro-bg.png") no-repeat center center;
	background-size: cover;
	margin-bottom: 150px;
	margin: 0;
	min-height: 100vh;
	padding: 0;
	text-align: center;
}
.back img {
	background: rgba(255, 255, 255, .25);
	border-radius: 0 33px;
	border: 3px #000 solid;
	box-shadow: 0 0 12px 6px rgba(255,255,255,.5);
	display: block;
	left: 50%;
	margin: 0 auto;
	max-width: 550px;
	padding: .5rem;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
}
.logo-martin img {
	margin: 160px 0 0;
	box-shadow: 0 3px 50px 4px rgba(255, 0, 150, .4);
}
.event1 {
	padding-top: 20px;
}
.about {
	padding-bottom: 5%;
	padding-top: 10%;
}
.all{
	margin-top: 10rem;
	border-radius: 50px;
	background-color: rgba(0, 20, 60, 0.5);
}
.about1 {
	padding-bottom: 20%
}
.Social{
	padding-top: 10%;
}
.social1{
	padding-top: 80px;
}
.contact1{
	padding-top: 4% 40px 10%;
}
.contact2{
	padding-left: 400px;
	padding-right: 40px;
}
.img1 {
	border-radius: 6px;
	box-shadow: 4px 10px #e6e6e6;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: -100px;
	width: 90%;
}
.card {
	margin: 10px;
	min-height: 200px;
	padding: 15px;
}
.card p {
	display: inline-block;
}
.fa{
	border-radius: 50%;
	font-size: 50px;
	height: 60px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}
.fa:hover {
	color: #e6e6e6;
	opacity: 0.7;
}
.fa-facebook {
	background: none;
	color: #4D5656;
}
.fa-twitter {
	background: none;
	color: #4D5656;
}
.fa-linkedin {
	background: none;
	color: #4D5656;
}
.g-map iframe {
	display:grid;
	float:none;
	height: 200px;
	margin: 0;
	padding: 0;
	width: 100%;
}
.row{
	text-align:center;
}
@media screen and (max-width:767px) {
	.heading{
		color: antiquewhite;
		font-size: 2.5rem;
		padding-left: 28%;
		padding-right: 20%;
		padding-top: 260px;
		position: absolute;
		z-index: 999;
	}
	.heading1{
		color: antiquewhite;
		font-size: 3.5rem;
		padding-left: 10%;
		padding-top: 230px;
		position: absolute;
		z-index: 999;
	}
}
.last{
	color: #FFF;
	margin-bottom: 130px;
	padding-bottom: 25px;
}
h1, #About p {
	color: #FFF;
}
iframe {
	border: none;
	height: 700px;
	width: 100%;
}
#insta-plug, #fb-plug {
	width: 100%;
	height: 710px;
	overflow: scroll;
}